# Python environments
.venv/
venv/
**/.venv/
**/venv/

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# macOS
.DS_Store

# Models / artifacts
*.joblib
*.pkl

# VSCode
.vscode/*.safetensors
*.bin
models/
checkpoints/
